<div class="mx-auto bg-zinc-100 text-gray-700 mt-6 py-32 sm:py-48 lg:py-56">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="text-4xl font-extrabold tracking-tight">My Projects</h1>
            <p class="mt-4 text-xl">Explore my portfolio of projects and see what I've been working on.</p>
        </div>
    </div>
</div>

<!-- Projects Section -->
<div class="bg-white py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            <div *ngFor="let prj of projects" class="bg-white rounded-lg shadow-lg overflow-hidden">
                <img [src]="prj.imageUrl" alt="Project 1" class="w-full h-40 object-contain object-center">
                <div class="p-4">
                    <span [ngClass]="getPillClass(prj.typeOfProject)" class="inline-block rounded-full bg-gradient-to-r lg:text-[10pt] lg:px-[4px] lg:py-[2px] sm:text-[8pt] sm:px-[4px] sm:py-[2px] text-[6pt] px-[2px] py-[1px]">{{prj.typeOfProject}}</span>
                    <h2 class="text-xl font-semibold text-gray-900">{{prj.title}}</h2>
                    <p class="mt-2 text-gray-700">{{prj.desc}}</p>
                    <a routerLink="." [fragment]="prj._id" class="mt-4 text-indigo-600 hover:underline">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>